@{
  Layout = "_Layout";
}

<h1>Welcome back Pierre!</h1>
<h2>Would you like to view your vendor or add a new Vendor?</h2>
<h3><a href="/vendors">View Vendors</a></h3>
<h3><a href="/vendors/new">Add a new Vendor</a></h3>
