@{
    Layout = "_Layout";
}

<h1>Add a new order to @Model.VendorName</h1>

<form action="/vendors/@Model.Id/orders" method="post">
    <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
    <div class="form-group">
        <label for="title">Order Title</label>
        <input id="title" name="title" type="text">
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <input id="description" name="description" type="text">
    </div>
    <div class="form-group">
        <label for="price">Cost:</label>
        <input id="price" name="price" type="int">
    </div>
    <div class="form-group">
        <label for="date">Date:</label>
        <input id="date" name="date" type="text">
    </div>
    <button type="submit">Add Order</button>
</form>